@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  background-color: #16161d;
  color: #505071;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

::selection {
  background-color: olive;
}

#main-wrapper {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50vh auto 0;
  transform: translateY(-50%);
}

#left-section {
  padding-right: 50px;
}

#left-section h1.title {
  font-size: 6rem;
  font-weight: 300;
  margin: 10px;
}

#left-section #text-section p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}

#anchors-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

#anchors-section a {
  color: #505071;
  font-size: 2rem;
  transition: 0.2s all;
  position: relative;
}

#anchors-section a:hover {
  scale: 120%;
}

#anchors-section a:visited {
  color: #505071;
}

#anchors-section a p.tooltip {
  display: none;
  position: absolute;
  padding: 4px 8px;
  background-color: #16161d;
  border: 1px solid #505071;
  width: fit-content;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}

#anchors-section a p.wide {
  width: 200px;
}

#anchors-section a:hover p {
  display: block;
}


#right-section img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  #main-wrapper {
    flex-direction: column;
    padding: 5px;
    margin: unset;
    transform: unset;
  }

  #left-section {
    padding: 0;
  }

  #left-section h1.title {
    font-size: 4rem;
    margin: auto 0;
  }

  #right-section {
    margin: 30px auto;
    width: 75%;
  }
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}