@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  background-color: #16161d;
  color: #505071;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

::selection {
  background-color: olive;
}

#anchors-section a {
  color: #505071;
  font-size: 2rem;
  transition: 0.2s all;
}

a:hover {
  scale: 120%;
}

a:visited {
  color: #505071;
}


#main-wrapper {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

#left-section {
  padding-right: 50px;
}

#right-section img{
  width: 100%;
  border-radius: 10px;
}


h1.title {
  font-size: 6rem;
  font-weight: 300;
  margin: 10px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}

#anchors-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

@media (max-width: 1024px) {
  #main-wrapper {
    flex-direction: column;
    padding:5px;
  }

  #main-wrapper #left-section #text-section article h1.title {
    font-size: 4rem;
    margin: auto 0;
  }

  #left-section {
    padding: 0;
  }

  #right-section {
    margin: 50pm auto 30px;
  }
}